GEMINI_API_KEY=get_from_aistudio.google.com
GROQ_API_KEY=get_from_console.groq.com
OPENROUTER_API_KEY=get_from_openrouter.ai
SUPABASE_URL=your_supabase_project_url
SUPABASE_KEY=your_supabase_anon_key
JUDGE0_API_URL=https://judge0-ce.p.rapidapi.com
JUDGE0_API_KEY=your_rapidapi_key
JUDGE0_IS_RAPIDAPI=true
